<td class="word"><strong>{% verbatim %}{{ word.word|uppercase|substring:0:1 }}{{ word.word|lowercase|substring:1 }}{% endverbatim %}</strong></td>
<td class="section">{% verbatim %}{{ word.sectionname }}{% endverbatim %}</td>
