{% extends 'base/cardList.twig' %}

{% block header_row %}
    <tr>
        <th class="two-column">{{ trans('word', plugin) }}</th>
        <th class="two-column">{{ trans('status', plugin) }}</th>
    </tr>
{% endblock %}

{% block rows %}
    <tr ng-repeat="card in cards"
        card-list-item card="card">
    </tr>
    <tr ng-show="!!cards && total == 0" class="warning"><td colspan="2" class="no-cards">{{ trans('nocards', plugin) }}</td></tr>
{% endblock %}

{% block pagination %}
    {% verbatim %}
        <pagination per-page="{{ perPage }}"
                    current-page="currentPage"
                    total="total"
                    fetch-page="getPageOfStudentCardsInActivity(currentPage)"
                    ng-show="total > perPage">
        </pagination>
    {% endverbatim %}
{% endblock %}
